<header>
    <div class="top_menu">
        <div class="content">
            <div class="menu">
                <div class="menu__logo">
                    <img src="/assets/img/logo.png" alt="">
                </div>
                <ul>
                    <li><a routerLink="" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">О нас</a></li>
                    <li><a routerLink="/service" routerLinkActive="selected">Услуги</a></li>
                    <li><a routerLink="/price" routerLinkActive="selected">Цены</a></li>
                    <li><a routerLink="/galery" routerLinkActive="selected">Галерея</a></li>
                    <li><a routerLink="/contact" routerLinkActive="selected">Контакты</a></li>
                </ul>
                <div class="menu__burger burger_hidden">
                    <div class="menu__burger__element burger__element1"></div>
                    <div class="menu__burger__element burger__element2"></div>
                    <div class="menu__burger__element burger__element3"></div>
                </div>
            </div>
        </div>
            <div class="menu__mobile menu_hidden">
                <div class="menu__mobile__li"><a routerLink="">О нас</a></div>
                <div class="menu__mobile__li"><a routerLink="/service">Услуги</a></div>
                <div class="menu__mobile__li"><a routerLink="/price">Цены</a></div>
                <div class="menu__mobile__li"><a routerLink="/galery">Галерея</a></div>
                <div class="menu__mobile__li"><a routerLink="/contact">Контакты</a></div>
            </div>
    </div>
    <div class="top_menu_fake"></div>
</header>