<header>
    <div class="top_menu">
        <div class="content">
            <div class="menu">
                <div class="menu__logo">
                    <img src="/assets/img/logo.png" alt="">
                </div>
                <ul>
                    <li><a href="index.html">О нас</a></li>
                    <li><a href="#" class="selected">Услуги</a></li>
                    <li><a href="price.html">Цены</a></li>
                    <li><a href="contact.html">Контакты</a></li>
                </ul>
                <div class="menu__burger burger_hidden">
                    <div class="menu__burger__element burger__element1"></div>
                    <div class="menu__burger__element burger__element2"></div>
                    <div class="menu__burger__element burger__element3"></div>
                </div>
            </div>
        </div>
            <div class="menu__mobile menu_hidden">
                <div class="menu__mobile__li"><a href="index.html">О нас</a></div>
                <div class="menu__mobile__li"><a href="#">Услуги</a></div>
                <div class="menu__mobile__li"><a href="price.html">Цены</a></div>
                <div class="menu__mobile__li"><a href="contact.html">Контакты</a></div>
            </div>
    </div>
    <div class="top_menu_fake"></div>
</header>