<div class="galery-bg">
    <div class="galery-popup">
        <div class="galery-popup-inner">
            <div class="galery-parts">
                <div class="galery-parts__img" [ngStyle]="{'background-image': 'url(' + item.photo + ')'}"></div>
                <div class="galery-parts__desc">
                    <h2>{{item.name}}</h2>
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>
        <div class="close" (click)="popupService.isGalery = false"></div>
    </div>
</div>