<div class="popup-bg">
    <div class="popup">
        <div class="pupup-inner" *ngIf="isLoaded">
            <h2>Редактирование услуги</h2>
            <form [formGroup]="form" (submit)="editPic()">
                <div class="form-unit fu-line">
                    <div class="phototoedit" [ngStyle]="{'background-image': 'url(' + htmimg + ')'}"></div>
                    <label for="editfile">Изменить фото</label>
                    <input type="file" (change)="onFileChange($event)" formControlName="file" accept=".png,.jpg" id="editfile" style="display: none;">
                </div>
                <div class="form-unit">
                    <label for="description">Название</label>
                    <input type="text" placeholder="Название услуги" formControlName="name">
                </div>
                <div class="form-unit">
                    <label for="description">Описание</label>
                    <textarea type="text" placeholder="Описание услуги" formControlName="description"></textarea>
                </div>
                <button type="submit" class="addbutton" [disabled]="form.invalid">Сохранить</button>
            </form>
        </div>
        <div class="close" (click)="closePopup()"></div>
    </div>
</div>