<div class="h-line">
    Наши цены
</div>
<div class="prices__price">
    <div class="content">
            <div class="prices__price__zaselenie">
                <div class="prices__price__zaselenie__photoes">
                    <div class="zaselenie__photoes__photo zaselenie__photo1">
                        <div class="zaselenie__part">
                            <h2>Половина дома №1</h2>
                            <div class="zaselenie__description__points">
                                <div class="zaselenie__description__point"><p>Заезд</p><p>14:00</p></div>
                                <div class="zaselenie__description__point"><p>Выезд</p><p>12:00</p></div>	
                            </div>	
                            <div class="zaselenie__description__point"><p>Стоимость/сутки</p><p>3500 руб</p></div>
                            <div class="zaselenie__more more1"><a href="service">Подробнее</a></div>
                        </div>	
                    </div>
                    <div class="zaselenie__photoes__photo zaselenie__photo2">
                        <div class="zaselenie__part">
                            <h2>Половина дома №2</h2>
                            <div class="zaselenie__description__points">
                                <div class="zaselenie__description__point"><p>Заезд</p><p>14:00</p></div>
                                <div class="zaselenie__description__point"><p>Выезд</p><p>12:00</p></div>	
                            </div>	
                            <div class="zaselenie__description__point"><p>Стоимость/сутки</p><p>4500 руб</p></div>
                            <div class="zaselenie__more more1"><a href="service#seclink">Подробнее</a></div>
                        </div>	
                    </div>
                </div>
            </div>
        <div class="l-line">
            Прокат
        </div>
        <div class="prices__price__prokat">
            <div class="prices__price__prokat__photoes">
                <div class="prokat__photoes__photo prokat__photo1"></div>
                <div class="prokat__photoes__photo prokat__photo2"></div>
                <div class="prokat__photoes__photo prokat__photo3"></div>
                <div class="prokat__photoes__photo prokat__photo4"></div>
            </div>
            <div class="prices__price__prokat__description">
                <div class="prokat__description__point">
                    <h2>Моторные лодки</h2>
                    <div class="prokat__description__pointLR">
                        <p>день</p>
                        <p>3.5 л.с</p>
                        <p>1500 руб</p>
                    </div>
                    <div class="prokat__description__pointLR">
                        <p>день</p>
                        <p>10 л.с</p>
                        <p>2000 руб</p>
                    </div>
                </div>
                <div class="prokat__description__point">
                    <h2>Водные лыжи</h2>
                    <div class="prokat__description__pointLR">
                        <p>15 мин</p>
                        <p>1000 руб</p>
                    </div>
                </div>
                <div class="prokat__description__point">
                    <h2>Вейкборд</h2>
                    <div class="prokat__description__pointLR">
                        <p>15 мин</p>
                        <p>1000 руб</p>
                    </div>
                </div>
                <div class="prokat__description__point">
                    <h2>Ватрушка</h2>
                    <div class="prokat__description__pointLR">
                        <p>15 мин</p>
                        <p>1000 руб</p>
                    </div>
                </div>
                <div class="prokat__description__point">
                    <h2>Квадроцикл</h2>
                    <div class="prokat__description__pointLR">
                        <p>час</p>
                        <p>3000 руб</p>
                    </div>
                    <div class="prokat__description__pointLR">
                        <p>4 часа</p>
                        <p>7000 руб</p>
                    </div>
                    <div class="prokat__description__pointLR">
                        <p>день</p>
                        <p>10000 руб</p>
                    </div>
                </div>
                <div class="prokat__description__point">
                    <h2>Акваскипер</h2>
                    <div class="prokat__description__pointLR">
                        <p>час</p>
                        <p>400 руб</p>
                    </div>
                    <div class="prokat__description__pointLR">
                        <p>день</p>
                        <p>1000 руб</p>
                    </div>
                </div>
                <div class="prokat__description__point">
                    <h2>Снегоход</h2>
                    <div class="prokat__description__pointLR">
                        <p>час</p>
                        <p>3000 руб</p>
                    </div>
                    <div class="prokat__description__pointLR">
                        <p>4 часа</p>
                        <p>7000 руб</p>
                    </div>
                    <div class="prokat__description__pointLR">
                        <p>день</p>
                        <p>10000 руб</p>
                    </div>
                </div>
                <div class="prokat__description__point">
                    <h2>Велосипед</h2>
                    <div class="prokat__description__pointLR">
                        <p>час</p>
                        <p>150 руб</p>
                    </div>
                    <div class="prokat__description__pointLR">
                        <p>день</p>
                        <p>500 руб</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-line">
            Стрельба
        </div>
        <div class="prices__price__shooting">
            <div class="shooting__description__point">
                <h2>Арбалет</h2>
                <div class="prokat__description__pointLR">
                    <p>1000 руб/30 минут</p>
                </div>
                <h2>Лук</h2>
                <div class="prokat__description__pointLR">
                    <p>1000 руб/30 минут</p>
                </div>
                <h2>Пневматическая винтовка</h2>
                <div class="prokat__description__pointLR">
                    <p>1000 руб/30 минут</p>
                </div>
            </div>
        </div>
        <div class="l-line">
            Фермерские продукты
        </div>
        <div class="prices__price__shooting">
            <div class="shooting__description__point">
                <h2>Молоко козье</h2>
                <div class="prokat__description__pointLR">
                    <p>100 руб/л</p>
                </div>
                <h2>Молоко коровье</h2>
                <div class="prokat__description__pointLR">
                    <p>70 руб/л</p>
                </div>
                <h2>Яйца куриные</h2>
                <div class="prokat__description__pointLR">
                    <p>100 руб/10 шт</p>
                </div>
                <h2>Сыр козий</h2>
                <div class="prokat__description__pointLR">
                    <p>1000 руб/кг</p>
                </div>
                <h2>Сыр коровий</h2>
                <div class="prokat__description__pointLR">
                    <p>800 руб/кг</p>
                </div>
                <h2>Творог козий</h2>
                <div class="prokat__description__pointLR">
                    <p>450 руб/кг</p>
                </div>
                <h2>Творог коровий</h2>
                <div class="prokat__description__pointLR">
                    <p>350 руб/кг</p>
                </div>
            </div>
        </div>
        <div class="l-line">
            Прочее
        </div>
        <div class="prices__price__shooting">
            <div class="shooting__description__point">
                <h2>Русская баня</h2>
                <div class="prokat__description__pointLR">
                    <p>3000 руб/3 часа</p>
                </div>
                <h2>Услуги егеря</h2>
                <div class="prokat__description__pointLR">
                    <p>1500 руб/2 часа</p>
                </div>
                <h2>Спутниковый Wi-Fi</h2>
                <div class="prokat__description__pointLR">
                    <p>1000р</p>
                </div>
            </div>
        </div>
    </div>
</div>