<div class="admin-galery-title">
    <div class="admin-page-name">
        Галерея
    </div>
    <div class="galery-addpic">Добавить фото</div>
</div>
<div class="admin-galery">
    <div class="admin-galery__item">
        <div class="galery-item__part item-part-left">
            <div class="galery-item__pic"></div>
            <div class="galery-item__info">
                <h3>{{'Название'}}</h3>
                <p>{{'Описание'}}</p>
            </div>
        </div>
        <div class="galery-item__part">
            <div class="delete-item">Удалить</div>
        </div>
    </div>
</div>