<footer>
    <div class="footer__top">
        <div class="content">
            <div class="footer__top__info">
                <div class="footer__top__info__element locationS">
                    <div class="locationS__l">
                        <p class="location">172814 Россия, Тверская область,</p>
                        <p class="location__lost">Андреапольский район, деревня Торопаца</p>
                    </div>
                    <div class="locationS__ph">
                        <p class="phone">+7 (916) 443 86 05</p>
                        <p class="phone">+7 (909) 908 30 88</p>
                    </div>
                </div>
                <div class="footer__top__info__element iconsS">
                    <div class="icons">
                        <div class="icon icon1"><a href="https://vk.com/toropatsa"><div class="icon__inv"></div></a></div>
                        <div class="icon icon2"><a href="https://www.instagram.com/toropatsa.ru/"><div class="icon__inv"></div></a></div>
                    </div>
                </div>
                <div class="footer__top__info__element mapS">
                    <div class="map">
                        <ul>
                            <li><a [routerLink]="['/']">О нас</a></li>
                            <li><a [routerLink]="['/service']">Услуги</a></li>
                            <li><a [routerLink]="['/price']">Цены</a></li>
                            <li><a [routerLink]="['/contact']">Контакты</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>