<div class="popup-bg">
    <div class="popup">
        <div class="pupup-inner">
            <h2>Добавить фото</h2>
            <form>
                <div class="form-unit">
                    <input type="file">
                </div>
                <div class="form-unit">
                    <label for="description">Название</label>
                    <input type="text" placeholder="Название фотографии">
                </div>
                <div class="form-unit">
                    <label for="description">Описание</label>
                    <input type="text" placeholder="Описание фотографии">
                </div>
                <div class="addbutton">Добавить</div>
            </form>
        </div>
        <div class="close"></div>
    </div>
</div>