<div class="top_menu_fake"></div>
    <div class="header">
        <div class="content">
            <h1>Торопаца</h1>
            <p>Свобода, природа, баня, рыбалка и охота. <br>Лучший отдых на озере!</p>
            <div class="header__button">
                Связаться с нами
            </div>
        </div>
    </div>
    <!-- <div class="connect connect_hidden">
        <div class="backgroundColor"></div>
        <div class="connect__formBG"></div>
        <div class="connect__form">
            <div class="connect__form__content">
                <div class="connect__form__content__close"></div>
                <h2>Связаться с нами</h2>
                <div class="overslider">
                    <p>С нами можно связаться по телефону:<br>+7 (916) 443 86 05</p>
                    <p>Или оставить сообщение, заполнив форму ниже:</p>
                    <form id="form">
                        <div class="connect__form__content__form">
                            <div class="content__form__parts">
                                <div class="content__form__part">
                                    <h3>Ваше имя</h3>
                                    <input type="text" placeholder="Например, Алексей" name="name">
                                </div>
                                <div class="content__form__part">
                                    <h3>Ваши контакты</h3>
                                    <input type="text" placeholder="Например, 89001234567" name="phone">
                                </div>
                                <div class="content__form__part">
                                    <h3>Ваше сообщение</h3>
                                    <textarea id="" cols="30" rows="10" placeholder="Ваше сообщение" name="text"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <button class="connect__form__content__button" onclick="gtag('event', 'click', {'event_category':'thanks'});">
                    Отправить
                </button>
            </div>
        </div>	
    </div>
    <div class="thanks thanks_hidden">
        <div class="backgroundColor"></div>
        <div class="thanks_f">
            <div class="thanks_f__content">
                <div class="connect__form__content__close"></div>
                <h2>Спасибо!</h2>
                <p>Ваше сообщение было успешно отправлено!</p>
                <div class="thanks_f__content__button">
                    Хорошо
                </div>
            </div>
        </div>
    </div> -->
<main>
    <!-- <div class="offer">
        <div class="content">
            <div class="offer__content">
                <p>Супер предложение этого лета! При бронировании большого дома, русская банька в подарок. С легким паром!</p>
            </div>
        </div>
    </div> -->
    <div class="h-line">
    ДЛЯ ВАС
    </div>
    <div class="weHave">
        <div class="content">
            <div class="items">
                <div class="item item1">
                    <a href="price.html"></a>
                    <div class="item__overflow">
                        <div class="img"></div>
                    </div>
                    <span>ЗАСЕЛЕНИЕ</span>
                </div>
                <div class="item item2">
                    <a href="service.html#prokat"></a>
                    <div class="item__overflow">
                        <div class="img"></div>
                    </div>
                    <span>ПРОКАТ</span>
                </div>
                <div class="item item3">
                    <a href="service.html#hunt"></a>
                    <div class="item__overflow">
                        <div class="img"></div>
                    </div>
                    <span>ОХОТА</span>
                </div>
                <div class="item item4">
                    <a href="service.html#fish"></a>
                    <div class="item__overflow">
                        <div class="img"></div>
                    </div>
                    <span>РЫБАЛКА</span>
                </div>
                <div class="item item5">
                    <a href="service.html#winter"></a>
                    <div class="item__overflow">
                        <div class="img"></div>
                    </div>
                    <span>ЗИМНИЙ ОТДЫХ</span>
                </div>
                <div class="item item6">
                    <a href="service.html#ev"></a>
                    <div class="item__overflow">
                        <div class="img"></div>
                    </div>
                    <span>РАЗВЛЕЧЕНИЯ</span>
                </div>
                <div class="item item7">
                    <a href="service.html#nature"></a>
                    <div class="item__overflow">
                        <div class="img"></div>
                    </div>
                    <span>ПРИРОДА</span>
                </div>
                <div class="item item8">
                    <a href="service.html#banya"></a>
                    <div class="item__overflow">
                        <div class="img"></div>
                    </div>
                    <span>БАНЯ</span>
                </div>
            </div>
        </div>
    </div>
    <div class="aboutusA">
        <div class="about__h-line">
            О НАС
        </div>
        <div class="content">
            <div class="aboutus">
                <p>Эко база отдыха «Торопаца» расположена в Тверской области, в самом чистом и живописном месте Валдайской возвышенности. Рядом с базой отдыха, на расстоянии не более 10 км находится еще 25 озёр, среди которых глубоководная жемчужина Тверской области – озеро Бросно. В некоторых местах его глубина достигает отметки 96 метров. Любителей дикой форели, река Торопа обязательно порадует достойным уловом.</p>
                <p>Необыкновенно красивые пейзажи, места, где не ступала нога человека с потрясающей природой, не тронутой цивилизацией, леса, где можно поохотиться на животных таких как лось и кабан, ну и конечно же охота на селезня, вальдшнепа, глухаря, тетерева и многих других.</p>
                <p>Настоящий деревенский отдых, с парным молоком по утрам, домашним творогом, сметаной, маслом и многими другими натуральными продуктами нашего собственного производства.
                Купание в реках и озерах, сбор земляники и черники, русская баня на берегу озера, путешествия на снегоходах и квадроциках, велопрогулки, катание на водных лыжах, вэйкборде и моторной лодке помогут вам получить незабываемые эмоции от отдыха и вы будете возвращаться снова и снова, ведь природа завораживает!</p>
                <p>Ну и конечно же для ваших детей деревенский отдых на природе попросту необходим. Где еще они смогут собственными глазами увидеть, откуда берется молоко, как правильно ухаживать за кроликами, как ведут себя поросята и кто несет яйца, поиграть с маленькими козлятами? Эмоции от настоящего общения с животными нашей фермы, помогут малышам взглянуть на мир с иной точки зрения.</p>
                <p>Мы готовы принять гостей в любое время года. Эко база отдыха в деревне «Торопаца» имеет для этого все необходимое: моторные лодки, водные лыжи, вэйкборд, ватрушки, квадроциклы, акваскиперы, велосипеды. Зимой можно вдоволь порезвиться на снегоходах. В наличии: луки, арбалеты, пневматические винтовки. При желании поохотиться и наличии необходимых разрешительных документов можно прибегнуть к услугам егеря.</p>
            </div>
        </div>
    </div>
    <div class="h-line">
        ОТЗЫВЫ
    </div>
    <div class="comments">
        <div class="content">
            <div class="comments__content">
                <div class="comments__content__container">
                    <div class="comments__content__container__comment">
                        <div class="comment__author author1"></div>
                        <div class="comment__nametext">
                            <div class="comment__name">
                                <h3>Ольга Захарова</h3>
                            </div>
                            <div class="comment__text">
                                <p>Нам у вас очень понравилось!!! Шикарное место, великолепная природа!</p>
                            </div>
                        </div>
                    </div>
                    <div class="comments__content__container__comment">
                        <div class="comment__author author2"></div>
                        <div class="comment__nametext">
                            <div class="comment__name">
                                <h3>Алексей Немцев</h3>
                            </div>
                            <div class="comment__text">
                                <p>Заехали на новогодних праздниках, остались очень довольны. Очень красивые места и чистый воздух. Самое главное понравилось доброжелательность хозяев, все рассказали и показали, утром даже принесли горячий хлеб (очень вкусный,мягкий). Катались на снегоходах, мы в восторге (буря эмоций). Но самое главное для нас впечатлила настоящая русская баня (всем советуем). Очень тихие места (полезно морально отдохнуть после городской суеты). Домики полностью всем оборудованы. Приедем еще в летнее время с удовольствием и уже на большее количество времени. Спасибо большое за отдых!!! Всем советуем приезжайте, даже с детьми (им понравится).</p>
                            </div>
                        </div>
                    </div>
                    <div class="comments__content__container__comment">
                        <div class="comment__author author3"></div>
                        <div class="comment__nametext">
                            <div class="comment__name">
                                <h3>Виктория Толмачева</h3>
                            </div>
                            <div class="comment__text">
                                <p>Были на майских праздниках, отдохнули чудесно! Даже купались!!! Все безумно довольны и взрослые и дети. Отличное место, в доме все удобства, с бани сразу ныряешь в озеро, рыбакам просто рай и очень доброжелательные хозяева, ВООБЩЕМ СОВЕТУЕМ ВСЕМ!!!!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="h-line">
    МЫ НА КАРТЕ
</div>
<div class="map">
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab26097c84b0335410e889b3d5496a64c4afc7edeb43f8fecb04e47017a9443ee&amp;source=constructor" width="100%" height="330" frameborder="0"></iframe>
</div>